<h2>Template: Basics</h2>
<hr>

<div class="row">
    <div class="col">
        <form>
            <!-- product field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    Product
                </label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        placeholder="Product name"
                    >
                    <span class="form-text text-danger">
                        Should contain 3 characters
                    </span>
                </div>
            </div>

            <!-- product price -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    Price
                </label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        placeholder="Product price"
                    >
   
                </div>
            </div>

            <!-- product inventory -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    In stock
                </label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        placeholder="Amount in stock"
                    >
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                        class="btn btn-primary float-end"
                    >
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>