<h2>Reactive: Basics</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">

            <!-- product field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    Product
                </label>
                <div class="col-sm-9">

                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Product name"
                        formControlName="name"
                        >
                        <span 
                            class="form-text text-danger" 
                            *ngIf="isValidField('name')"
                            >
                            Should contain 3 characters
                        </span>
                </div>
            </div>

            <!-- product price -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    Price
                </label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        class="form-control" 
                        placeholder="Product price" 
                        formControlName="price"
                        >
                    <span 
                        class="form-text text-danger"
                        *ngIf="isValidField('price')"
                    >
                        Price should be more than 0
                    </span>
                </div>
            </div>

            <!-- product inventory -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    In stock
                </label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        class="form-control" 
                        placeholder="Amount in stock" 
                        formControlName="stock"
                        >
                        <span 
                        class="form-text text-danger"
                        *ngIf="isValidField('stock')"
                    >
                        Stock should be more than 0
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button 
                        type="submit"
                        class="btn btn-primary float-end"
                        >
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ myForm.valid }}</pre>

        <span>Valid</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched | json }}</pre>

    </div>
</div>